main {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.menu {
  max-width: 646px;
  max-height: 35px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 10px 0px 10px;
  align-items: center;
  justify-content: space-between;

  color: white;
  font-size: 20px;
}

.time {
  display: flex;
  width: 70px;
  height: 24px;
  gap: 5px;
}

.home {
  width: 24px;
  height: 24px;
}

img {
  width: 100%;
  height: 100%;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 646px;
  max-height: 646px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #000;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  box-sizing: border-box;
  border: 1px solid wheat;
}

.palette {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-wrap: wrap;
  left: 0;
  width: 100%;
  height: 100%;
}

.palette__item {
  width: 100%;
  height: 100%;
  background-color: red;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 30% auto;
  padding: 20px;
  border: 1px solid #888;
  height: 200px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  gap: 20px;
  justify-content: center;
}

.closeBtn {
  width: 100%;
  height: 100%;
  max-width: 80px;
  max-height: 30px;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  display: none;
}
