@font-face {
  font-family: "YangjuByeolsanA1";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/YangjuByeolsanA1.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

.intro {
  z-index: 1;
  width: 402px;
  height: 365px;
  color: white;
  font-size: 100px;
}

img {
  width: 200px;
  height: 200px;
}

.Hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "YangjuByeolsanA1";
}

.intro__down {
  margin-top: 30px;
  opacity: 1;
  animation: fadeIn 0.5s forwards;
  font-size: 100px;
}

.second {
  display: flex;
  flex-direction: column;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.downImg {
  margin: 20px;
  color: white;
  opacity: 0; /* 처음에는 보이지 않도록 설정 */
  transition: opacity 0.5s ease; /* 서서히 나타나게 하기 위한 트랜지션 */
}
